.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5%;
    padding: 5% 0;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.footer-logo{
    width: 70%;
}


.footer-list p{
    padding: 5px 0;
}

.media{
    width: 20px;
    margin: 10px 4px;
}

@media(min-width: 765px){
    .footer{
        grid-template-columns: repeat(5, 1fr);
    }

    .footer-list{
        margin: 0 15%;
    }
}